{% extends 'layout.html' %}
<head>
    <title>{% block title %}Formulario{% endblock title %}</title>
</head>
{% block body %}
<body>
    <div class="mx-5 my-3">
        <form action="/publicar/" method="POST" enctype="multipart/form-data" class="form-control bg-black bg-gradient text-light">{% csrf_token %}
            <div class="mb-3">
                <label for="txtTitulo" class="form-label">Título</label>
                <input type="text" name="txtTitulo" class="form-control bg-black bg-gradient text-light" required>
            </div>
            <div class="mb-3">
                <label for="txtDescripcion" class="form-label">Descripción</label>
                <textarea name="txtDescripcion" rows="6" style="resize: none;" class="form-control bg-black bg-gradient text-light" required></textarea>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="file" name="imagen" class="form-control bg-black bg-gradient text-light" required>
            </div>
            <div class="mb-3">
                <label for="txtFecha" class="form-label">Fecha</label>
                <input type="date" name="txtFecha" class="form-control bg-black bg-gradient text-light" required>
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control btn btn-primary" value="Publicar">
            </div>
        </form>
    </div>
</body>
{% endblock body %}